{#
/**
 * @file
 * Default theme implementation for the webform timeout render element.
 *
 * Available variables:
 * - attributes: Attributes for the marguee tag.
 * - content: The text to display within the marquee tag.
 *
 * @ingroup themeable
 * @ingroup render_example
 */
#}
{%
  set classes = [
    'webform-timeout',
  ]
%}
{{ attach_library('webform_timeout/timeout') }}
<div{{ attributes.addClass(classes) }}>
  {% if not expired %}
    <em class="days">{{ timeout_days }}</em>d
    <em class="hours">{{ timeout_hours }}</em>:
    <em class="minutes">{{ timeout_minutes }}</em>:
    <em class="seconds">{{ timeout_seconds }}</em>
  {% endif %}
</div>
